<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Lessons</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content>
    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink="/idea-details">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button> 
    </ion-fab> -->
   
    <ion-list>
      <ion-item button [routerLink]="['/idea-details', idea.id]" *ngFor="let idea of (ideas | async)">
        {{ idea.name }}
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
          <ion-tabs>
           <ion-tab-bar slot="bottom">
             <ion-tab-button tab="search" routerLink="/venue" routerDirection="backward">
               <ion-label>Browse</ion-label>
               <ion-icon name="search"></ion-icon>
             </ion-tab-button>
             <ion-tab-button tab="barcode" routerLink="/barcode" routerDirection="backward">
              <ion-label>Barcode</ion-label>
              <ion-icon name="barcode"></ion-icon>
            </ion-tab-button>
             <ion-tab-button tab="profile" routerLink="/profile" routerDirection="backward">
               <ion-label>Profile</ion-label>
               <ion-icon name="person"></ion-icon>
             </ion-tab-button>
           </ion-tab-bar>
         </ion-tabs>
   </ion-toolbar> 
  </ion-footer>